{% extends "base/base.html" %}
{% block content %}
    <main role="main">
          <h1 class="text-center pt-3">{{product.product_name}}</h1>
            
        
          <div class="text-center">{{blog.pub_date}}</div>
            <img class="image-fluid" imageclass="card-img-right flex-auto d-none d-md-block" src="{{product.product_image.url}}" height="600" width="900">
                <br>
                <br>
                <form method="POST">
        
                    {% csrf_token %}
                    
                    <input class="btn btn-primary"  type="submit" value="add product to cart"/>
                </form>
      
              </div>
              
            </div>
            <br>
            <br>
            <br>
            <div class="container">
            <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">

              {% csrf_token %}
              

             <p style="text-align:center">comment</p>
            <textarea id="txtArea" rows="2" cols="80" name="body"></textarea>
            <br>
            <input class="btn btn-primary"  type="submit" value="comment"/>
          </form>
        </div>
          </div>
        </main>

{% endblock content %}

