{% extends "base/base.html" %}
{% block content %}
    <main role="main">
        <div class="container">
          <h1 class="text-center pt-3">{{product.product_name}}</h1>
            
        
          <div class="text-center">{{blog.pub_date}}</div>
            <img class="image-fluid" imageclass="card-img-right flex-auto d-none d-md-block" src="{{product.product_image.url}}" height="600" width="900">
                <br>
                <br>
                <form method="POST">
        
                    {% csrf_token %}
                    
                    <input class="btn btn-primary"  type="submit" value="add product to cart"/>
                </form>
      
              </div>
              
            </div>
          </div>
            
            
         
          </div>
        </main>

{% endblock content %}

