{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Post Name</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'base/styles/default.css'%}">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>
	
</head>
<body>
	<div class="nav-wrapper">

	
		<a href="{% url 'home' %}">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>

		{% if user.is_authenticated %}
			<a class="nav-link" href="{% url 'logout' %}">Logout </a>
                
                  
        {% else %}
		<ul id="navigation">
			<li><a href="{% url 'signup' %}">Signup</a></li>
			<li><a href="{% url 'login' %}">Login          .</a></li>
		</ul>
		{% endif %}    
                
		
	</div>
	<div class="container">
	{% block content %}{% endblock %}
</div>
</body>
</html>